@import 'scss/fonts';
@import 'scss/variables';
@import 'scss/mixins';
@import 'scss/animations';
@import 'scss/normalize';
@import 'scss/util';

body {
    margin: 0;
    padding: 0;
}

* {
    color: $text;
}

#app {
    width: 100%;
    height: 100%;
    font-size: 30px;
    position: relative;
    z-index: 2;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-transform: uppercase;
    }

    .app-inner {
        width: 100%;
        height: 100%;
    }

    .route-container {
        position: relative;
        z-index: 2;
    }

    @import 'scss/components/index';
    @import 'scss/vendor/index';
    @import 'scss/conditional/index';
}
