@font-face {
    font-family: 'mini_serif-bold';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/mini_serif-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('./fonts/mini_serif-bold-webfont.woff2') format('woff2'),
        url('./fonts/mini_serif-bold-webfont.woff') format('woff');
}
