@import 'normalize/normalize';

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
img,
em {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

a {
    color: inherit;

    &:hover,
    &:focus {
        color: inherit;
    }
}
