// colors
$text: #131313;
$background: #fff;

// fonts
$sans-serif: San Francisco Sans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: 'AbrilFatface-Regular', 'Times New Roman', serif;

// misc
$line-width: 6px;
